.search-bar {
    width: 260px;
}

.search-icon {
    background-color: #f4f4f6;
    border: 1px solid #ccc;
    border-right: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
}

.search-bar .form-control {
    border: 1px solid #ccc;
    border-left: none;
    background-color: #fff;
    color: #333;
    border-radius: 0 8px 8px 0;
    height: 38px;
    transition: all 0.2s ease;
}

.search-bar .input-group-text {
    border-radius: 8px 0 0 8px;
    height: 38px;
}