.homepage-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.homepage-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #333;
}

.brand-accent {
    color: #8234c0;
}

.homepage-subtitle {
    font-size: 1rem;
    color: #666;
}

.homepage-sections {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.25rem;
}

.homepage-card {
    border-radius: 12px;
    padding: 1rem 1.25rem;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: all 0.2s ease;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.homepage-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-color: #bbb;
}

.homepage-card-content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.homepage-icon {
    background-color: #eaecef;
    border-radius: 10px;
    padding: 0.6rem;
    color: #333;
    flex-shrink: 0;
}

.homepage-card-title {
    margin-bottom: 0.25rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
}

.homepage-card-text {
    color: #666;
    font-size: 0.9rem;
}